.information-wrapper {
  min-height: calc((100vh - 62px) - 113px);

  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;

  .table {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    flex-direction: column;
    max-width: 100%;
    width: 100%;

    &-header {
      display: table-row-group;

      tr {
        background-color: rgb(246, 246, 247);
        border-bottom: none;
        border-image: initial;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 12px 12px 0 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        display: table-row;
        font-size: 14px;
        font-weight: 600;
        grid-template-columns: 30px repeat(2, 1fr);
        line-height: 120%;
        position: sticky;
        top: 0;
        z-index: 2;

        td {
          background-color: rgb(246, 246, 247);
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          color: rgb(105, 101, 114);
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-weight: 600;
          gap: 5px;
          line-height: 20px;
          padding: 14px 10px;
          text-transform: uppercase;
          white-space: nowrap;
          width: auto;

          &:first-child {
            border-left: 1px solid rgba(0, 0, 0, 0.12);
            border-top-left-radius: 10px;
            max-width: 10px;
            padding: 14px 4px;
          }

          &:last-child {
            border-right: 1px solid rgba(0, 0, 0, 0.12);
            border-top-right-radius: 10px;
          }

          & > span {
            color: rgb(105, 101, 114);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-weight: 600;
            gap: 5px;
            line-height: 20px;
            padding: 18px 12px;
            text-transform: uppercase;
            white-space: nowrap;
            width: auto;
          }

          &:nth-child(5),
          &:nth-child(8) {
            padding-left: 22px;
            padding-right: 10px;

            span:first-child {
              color: rgb(105, 101, 114);
              font-weight: 600;
              text-transform: uppercase;
            }
          }

          .table-td-main {
            -webkit-box-align: center;
            align-items: center;
            display: inline-flex;
          }

          button {
            -webkit-box-align: center;
            align-items: center;
            background: none;
            border: none;
            cursor: pointer;
            display: inline-flex;
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            padding: 0;
          }

          .svg {
            height: 24px;

            svg {
              fill: rgb(105, 101, 114);
              font-size: 20px;
              height: 24px;
              transition: transform 0.15s ease-in-out 0s;
              width: 24px;
            }
          }
        }
      }
    }

    &-body {
      display: table-row-group;
      max-height: none;
      overflow-y: auto;

      tr {
        background-color: rgb(255, 255, 255);
        border: none;
        display: table-row;
        grid-template-columns: 30px repeat(2, 1fr);
        padding: 0;

        &:last-child td {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);

          &:first-child {
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }

        td {
          background-color: rgb(255, 255, 255);
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          color: rgb(14, 13, 16);
          cursor: pointer;
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-weight: 400;
          grid-area: 1 / 1 / 9 / 2;
          line-height: 160%;
          vertical-align: top;
          padding: 16px 10px;

          &:first-child {
            padding: 13px 0 13px 8px;
            border-left: 1px solid rgba(0, 0, 0, 0.12);
          }

          &:last-child {
            border-right: 1px solid rgba(0, 0, 0, 0.12);
          }

          &:nth-child(5),
          &:nth-child(8) {
            padding-left: 22px;
            padding-right: 10px;
          }

          .main-stack {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            height: auto;
            margin: -4px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;

            &-item {
              padding: 6px 4px;
              position: relative;
              display: inline-flex;

              span {
                -webkit-box-align: center;
                -webkit-box-pack: center;
                align-items: center;
                background-color: rgb(231, 221, 252);
                border-radius: 8px;
                color: rgb(73, 60, 120);
                column-gap: 4px;
                display: inline-flex;
                font-size: 14px;
                font-weight: 400;
                justify-content: center;
                line-height: 20px;
                min-width: 67px;
                padding: 2px 12px;
              }
            }
          }

          svg {
            fill: rgb(105, 101, 114);
            font-size: 20px;
            transition: transform 0.15s ease-in-out 0s;
            width: 24px;

            &._revert {
              transform: rotate(180deg);
            }
          }
        }

        &.additional-information {
          border-left: 1px solid rgba(0, 0, 0, 0.12);
          border-right: 1px solid rgba(0, 0, 0, 0.12);
          padding: 10px 0;

          td {
            background-color: rgb(255, 255, 255);
            border-top: 0;
            cursor: unset;
            padding: 12px 22px 28px 22px;
            vertical-align: top;

            &:first-child {
              border-left: 1px solid rgba(0, 0, 0, 0.12);
              padding-left: 37px;
            }

            &:last-child {
              border-right: 1px solid rgba(0, 0, 0, 0.12);
            }

            &:nth-child(2) {
              padding: 12px 10px 12px 10px;
            }

            .additional-information {
              &-title {
                font-family: "DM Sans", sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
              }

              &-description {
                pre {
                  font-family: "DM Sans", sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                  margin: 0 0 14px 0;
                  max-width: 534px;
                  white-space: pre-line;
                  width: 100%;
                  word-break: break-word;
                }
              }

              &-company {
                color: rgb(130, 79, 231);
                cursor: pointer;
                display: inline-block;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                margin-top: 24px;

                a {
                  color: rgb(151, 131, 208);
                  text-decoration: none;
                }
              }

              &-location {
                .location-body {
                  display: flex;
                  gap: 5px;

                  svg {
                    fill: rgb(14, 13, 16);
                  }

                  span {
                    font-family: "DM Sans", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                  }
                }
              }

              &-workload {
                span {
                  font-family: "DM Sans", sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                }
              }

              &-contacts {
                align-self: self-start;
                display: flex;
                gap: 8px;
                justify-content: right;

                .contacts-link {
                  background-color: rgb(246, 246, 247);
                  border-radius: 10px;
                  color: rgb(0, 0, 0);
                  display: inline-block;
                  font-family: "DM Sans", sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 20px;
                  padding: 10px 16px;
                  transition: background-color 0.35s ease-in-out 0s;

                  &:hover {
                    background-color: rgba(14, 13, 16, 0.1);
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}