.information-wrapper {
  min-height: calc((100vh - 62px) - 113px);

  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;

  .table {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    flex-direction: column;
    max-width: 100%;
    width: 100%;

    &-header {
      display: table-row-group;

      tr {
        background-color: rgb(246, 246, 247);
        border-bottom: none;
        border-image: initial;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 12px 12px 0 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        display: table-row;
        font-size: 14px;
        font-weight: 600;
        grid-template-columns: 30px repeat(2, 1fr);
        line-height: 120%;
        position: sticky;
        top: 0;
        z-index: 2;

        td {
          background-color: rgb(246, 246, 247);
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          color: rgb(105, 101, 114);
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-weight: 600;
          gap: 5px;
          line-height: 20px;
          padding: 14px 10px;
          text-transform: uppercase;
          white-space: nowrap;
          width: auto;

          &:first-child {
            border-left: 1px solid rgba(0, 0, 0, 0.12);
            border-top-left-radius: 10px;
            max-width: 10px;
            padding: 14px 4px;
          }

          &:last-child {
            border-right: 1px solid rgba(0, 0, 0, 0.12);
            border-top-right-radius: 10px;
          }

          & > span {
            color: rgb(105, 101, 114);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-weight: 600;
            gap: 5px;
            line-height: 20px;
            padding: 18px 12px;
            text-transform: uppercase;
            white-space: nowrap;
            width: auto;
          }

          &:nth-child(5),
          &:nth-child(8) {
            padding-left: 22px;
            padding-right: 10px;

            span:first-child {
              color: rgb(105, 101, 114);
              font-weight: 600;
              text-transform: uppercase;
            }
          }

          .table-td-main {
            -webkit-box-align: center;
            align-items: center;
            display: inline-flex;
          }

          button {
            -webkit-box-align: center;
            align-items: center;
            background: none;
            border: none;
            cursor: pointer;
            display: inline-flex;
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            padding: 0;
          }

          .svg {
            height: 24px;

            svg {
              fill: rgb(105, 101, 114);
              font-size: 20px;
              height: 24px;
              transition: transform 0.15s ease-in-out 0s;
              width: 24px;
            }
          }
        }
      }
    }

    &-body {
      display: table-row-group;
      max-height: none;
      overflow-y: auto;

      tr {
        background-color: rgb(255, 255, 255);
        border: none;
        display: table-row;
        grid-template-columns: 30px repeat(2, 1fr);
        padding: 0;

        &:last-child td {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);

          &:first-child {
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }

        td {
          background-color: rgb(255, 255, 255);
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          color: rgb(14, 13, 16);
          cursor: pointer;
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-weight: 400;
          grid-area: 1 / 1 / 9 / 2;
          line-height: 160%;
          vertical-align: top;
          padding: 16px 10px;

          &:first-child {
            padding: 13px 0 13px 8px;
            border-left: 1px solid rgba(0, 0, 0, 0.12);
          }

          &:last-child {
            border-right: 1px solid rgba(0, 0, 0, 0.12);
          }

          .main-stack {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            height: auto;
            margin: -4px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;

            &-item {
              padding: 6px 4px;
              position: relative;
              display: inline-flex;

              span {
                -webkit-box-align: center;
                -webkit-box-pack: center;
                align-items: center;
                background-color: rgb(231, 221, 252);
                border-radius: 8px;
                color: rgb(73, 60, 120);
                column-gap: 4px;
                display: inline-flex;
                font-size: 14px;
                font-weight: 400;
                justify-content: center;
                line-height: 20px;
                min-width: 67px;
                padding: 2px 12px;
              }
            }
          }

          svg {
            fill: rgb(105, 101, 114);
            font-size: 20px;
            transition: transform 0.15s ease-in-out 0s;
            width: 24px;
          }
        }
      }
    }
  }
}