main {
  section {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .hero {
    background-color: rgb(130, 79, 231);
    margin: 0 0 120px 0;
    max-width: unset;
    overflow: hidden;
    padding: unset;

    &-main {
      column-gap: 24px;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      max-width: 1360px;
      padding: 0 20px;

      .description {
        margin-bottom: 30px;
        margin-top: 156px;
        max-width: 735px;
        width: 100%;

        &-title {
          font-size: 72px;
          line-height: 74px;

          span {
            color: rgb(255, 255, 255);
            font-family: "DM Sans", sans-serif;
            font-weight: 700;
            margin-bottom: 24px;
          }
        }

        &-text {
          color: rgb(255, 255, 255);
          font-family: "DM Sans", sans-serif;
          font-size: 18px;
          line-height: 32px;
          margin-bottom: 31px;
          margin-top: 24px;
          max-width: 510px;
          opacity: 0.8;
        }

        &-links {
          display: flex;
          flex-direction: row;
          gap: 0 8px;
        }
      }

      .image {
        -webkit-box-flex: 1;
        flex-grow: 1;
        height: 699px;
        margin: 18px 0 31px;
        position: relative;

        &-wrapper {
          height: 729px;
          left: 0;
          position: absolute;
          top: 0;
          width: 618px;
        }
      }
    }
  }

  .opportunities {
    margin-bottom: 103px;

    &-title {
      font-size: 56px;
      line-height: 62px;
      margin-bottom: 122px;
      max-width: 817px;
      width: 100%;
    }

    &-list {
      column-gap: 32px;
      display: flex;
      flex-flow: row wrap;

      &-item {
        display: flex;
        flex-direction: column;
        flex: 0 0 25%;
        max-width: 304px;
        row-gap: 20px;
        width: 100%;

        svg {
          width: 56px;
          height: 56px;
        }

        h3 {
          font-size: 32px;
          font-weight: 400;
          line-height: 29px;
        }

        p {
          line-height: 24px;
          opacity: 0.7;
        }
      }
    }
  }

  .trial {
    margin-bottom: 60px;

    &-wrapper {
      background-color: rgb(14, 13, 16);
      border-radius: 44px;
      color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      padding: 40px 48px;
      row-gap: 32px;
    }

    &-title {
      font-weight: 400;
      font-size: 56px;
      line-height: 74px;
      //margin-bottom: 10px;
    }

    &-content {
      -webkit-box-align: center;
      align-items: center;
      column-gap: 32px;
      display: flex;
      flex-direction: row;

      &-start {
        padding: 12px;
        min-width: 190px;
      }

      &-description {
        line-height: 24px;
      }
    }

  }

  .prices {

  }

  .mail {

  }
}