.filter-panel {
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  border-bottom: 1px solid rgb(224, 225, 229);
  column-gap: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 23px 0;
  padding: 11px 20px;
  z-index: 3;

  &-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    max-width: none;
    width: 100%;
  }

  .myInput {
    -webkit-box-flex: initial;
    background-color: rgb(246, 246, 247);
    border-radius: 8px;
    border: 1px solid rgb(188, 185, 195);
    color: rgb(0, 0, 0);
    column-gap: 10px;
    display: flex;
    flex-grow: initial;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    line-height: 140%;
    max-width: 487px;
    outline: none;
    padding: 13px 16px 13px 40px;
    position: relative;
    text-align: left;
    transition: background-color 0.2s ease-in-out 0s, border 0.25s ease-in-out 0s, color 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
    width: 100%;
    z-index: 1;
  }
}

.filter {
  position: relative;

  &-header {
    -webkit-box-align: center;
    //font-family: "DM Sans";
    align-items: center;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid rgb(224, 225, 229);
    color: rgb(14, 13, 16);
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
    gap: 4px;
    line-height: 20px;
    padding: 5px 8px 5px 16px;
    text-transform: uppercase;
    transition: background-color 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;

    &._checked {
      background-color: rgb(14, 13, 16);
      border: 1px solid rgb(14, 13, 16);
      color: rgb(255, 255, 255);
      font-weight: 700;

      svg {
        fill: rgb(255, 255, 255);

      }
    }

    ._hide {
      display: none;
    }

    &-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-count {
      -webkit-box-align: center;
      -webkit-box-pack: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      border-radius: 100px;
      color: rgb(0, 0, 0);
      display: inline-flex;
      height: 20px;
      justify-content: center;
      min-width: 20px;
      padding: 0 8px;
    }

    svg {
      fill: rgb(105, 101, 114);
      transform: rotate(0deg);
      height: 24px;
      transition: transform 0.15s ease-in-out 0s, fill 0.15s ease-in-out 0s;
      width: 24px !important;
    }
  }

  &-dropdown {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(91 104 113 / 24%) 0 12px 24px;
    margin-top: 19px;
    padding: 24px 10px;
    position: absolute;
    transform: none;
    width: 280px;
    z-index: 2;
    display: none;
  }
}