* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .wrapper {
    width: 100%;
  }
}

a {
  text-decoration: none;
}