.header {
  background-color: rgb(130, 79, 231);
  color: rgb(255, 255, 255);

  &-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1376px;
    padding: 7px 20px;

    .links {
      align-items: center;
      column-gap: 40px;
      display: flex;

      &-logo {
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
      }

      &-available,
      &-looking-for {
        color: inherit;
        font-family: "DM Sans", sans-serif;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .auth {
      display: flex;
      column-gap: 8px;

      &-registration,
      &-login {
        font-size: 14px;
        line-height: 24px;
        min-width: 112px;
        padding: 11px 12px;
      }
    }
  }
}
